SUPABASE_URL=https://kvwypopgfvbwncjijyui.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2d3lwb3BnZnZid25jamlqeXVpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTk0NDQzMSwiZXhwIjoyMDY3NTIwNDMxfQ.nEOMxmWbzHRbeHm_34YEHDuAvGQROHJv-P7kTn_RLKI
OPENAI_API_KEY=sk-
ANTHROPIC_API_KEY=
LITE_LLM_MARKUP=0.25
REDIS_URL=redis://localhost:6379
LANGFUSE_SECRET_KEY=your_langfuse_key
JWT_SECRET=eNgFIjCXpALMij51Yiyu0go1pdHhvSEH44MK7QKMTIii/Y3aT9pwIIfTvdBNU4NAh/qX7MTyCC4F7z2eg0D4lg==